[general]
config_version = 2
FullMachineName = {{ inventory_hostname }}

[slapd]
instance_name = {{ dsm_instance }}
suffix = {{ (dsm_backends.values() | list)[0].suffix }}
InstallLdifFile = {{ dsm_tempdir }}/etc/dirsrv/slapd-{{ dsm_instance }}/dse.ldif
UseExistingInstance = False
root_password = {{ dsm_password }}

sample_entries = no


